/**
 * @file
 * Block Styling
 */


.block { /* Block wrapper */
  margin-bottom: 1.5em;
}

.block.first { /* The first block in the region */
}

.block.last { /* The last block in the region */
}

.block.odd { /* Zebra striping for each block in the region */
}

.block.even { /* Zebra striping for each block in the region */
}

h2.block-title { /* Block title */
}

#block-aggregator-category-1 { /* Block for the latest news items in the first category */
}

#block-aggregator-feed-1 { /* Block for the latest news items in the first feed */
}

#block-block-1 { /* First block created with "Add block" link */
}

#block-blog-recent { /* "Recent blog posts" block */
}

#block-book-navigation { /* "Book navigation" block for the current book's table of contents */
}

#block-comment-recent { /* "Recent comments" block */
}

#block-forum-active { /* "Active forum topics" block */
}

#block-forum-new { /* "New forum topics" block */
}

#block-locale-language { /* Language switcher block */
}

#block-menu-menu-NAME { /* Custom menu block */
}

#block-node-recent { /* "Recent content" block */
}

#block-node-syndicate { /* "Syndicate" block for primary RSS feed; see also page.css's .feed-icon */
}

#block-poll-recent { /* "Most recent poll" block */
}

#block-profile-author-information { /* "Author information" block for the profile of the page's author */
}

#block-search-form { /* "Search form" block */
    display: inline;
    float: left;
    margin-top: 41px;
    width: 230px;
}

#block-shortcut-shortcuts { /* "Shortcuts" block */
}

#block-statistics-popular { /* "Popular content" block */
}

#block-system-main-menu { /* "Main menu" block */
}

#block-system-management { /* "Management" block for Drupal management menu */
}

#block-system-navigation { /* "Navigation" block for Drupal navigation menu */
}

#block-system-user-menu { /* "User menu" block for Drupal user menu */
}

#block-system-help { /* "System help" block */
}

#block-system-main { /* "Main page content" block */
}

#block-system-powered-by { /* "Powered by Drupal" block */
}

#block-user-login { /* "User login form" block */
}

#block-user-new { /* "Who's new" block for a list of the newest users */
}

#block-user-online { /* "Who's online" block for a list of the online users */
}

#block-block-1 {
    display: inline;
    float: left;
    height: 30px;
    width: 230px;
}

#block-block-2 {
    display: inline;
    float: left;
    padding: 0 15px 0 0;
    width: 220px;
    margin: 0;
}
#block-block-2 h2.block-title {
    font-size: 20px;
}

#block-block-2 p {
    line-height: 20px;
}

#block-block-3 {
    display: inline;
    float: left;
    padding: 0 45px;
    width: 195px;
    margin: 0;
}

#block-block-3 h2.block-title {
    font-size: 20px;
}

#block-block-3 ul li{
   
    line-height: 15px;
}
#block-block-3 ul li a, #block-block-3 ul li a:visited{
    color: #fff;
    text-decoration: none;
    line-height: 10px;
}


#block-block-4 {
    display: inline;
    float: left;
    width: 230px;
    margin: 0;
}

#block-block-4 h2.block-title {
    font-size: 20px;
}

#block-block-5 {
    display: inline;
    float: left;
     width: 210px;
     margin: 0;
}

#block-block-5 h2.block-title {
    font-size: 20px;
}

#block-block-5 iframe {
    border: 4px solid #FFFFFF;
    border-radius: 2px 2px 2px 2px;
}

#block-block-6 {
    display: block;
    float: left;
     width: 400px;
     margin: 0;
}

#block-block-7 {
    display: inline;
    float: right;
     height: 60px;
    margin: 0;
    width: 261px;
    text-align: right;
}

#block-block-7 p{
    
     height: 60px;
    margin: 0;
    padding: 0px;
}



