/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */


/*
 * Body
 */
body {
  margin: 0;
  padding: 0;
  background-color: #F5F4F2;
}

#page {
    width: 980px;
    margin: 0 auto;
}

#headertop {
    background: url(../images/headertop_bg.png) repeat-x #fff;
    height: 46px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-align: center;
    
}

#headertop p{
    font-size: 13px;
    color: #fff;
    padding-top: 10px;
}

#headertop a{
    font-size: 13px;
    color: #8CAC1F;
    
}


/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */

#skip-link {
  margin: 0;
}
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/*
 * Header
 */

#header {
      height: 120px;
      padding-top: 20px;
}

#logo { /* Wrapping link for logo */
  float: left; /* LTR */
  margin: 0;
  padding: 0;
}
#logo img {
  vertical-align: bottom;
}

#name-and-slogan { /* Wrapper for website name and slogan */
  float: left;
}

#site-name { /* The name of the website */
  margin: 0;
  font-size: 2em;
  line-height: 1.5em;
}
#site-name a:link,
#site-name a:visited {
  color: #000;
  text-decoration: none;
}
#site-name a:hover,
#site-name a:focus {
  text-decoration: underline; 
  
}

#site-slogan { /* The slogan (or tagline) of a website */
  margin: 0;
  font-size: 1em;
}

.region-header { /* Wrapper for any blocks placed in the header region */
 /* clear: both; /* Clear the logo */
  float: right;
    width: 460px;
}

/*
 * Main (container for everything else)
 */

#main {
}

/*
 * Content
 */

#content {
}

.region-highlighted {
}

.breadcrumb { /* The path to the current page in the form of a list of links */
    background-color: #CCCCCC;
    border-radius: 2px 2px 2px 2px;
    height: 26px;
    padding: 2px 0 0 4px;
}
.breadcrumb ol {
  margin: 0;
  padding: 0;
}
.breadcrumb li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #FFF;
  padding-right: 15px;
}

h1.title, /* The title of the page */
h2.node-title, /* Title of a piece of content when it is given in a list of content */
h2.block-title, /* Block title */
h2.title, /* Comment section heading */
h2.comment-form, /* Comment form heading */
h3.title { /* Comment title */
  margin: 0;
}

tr.even { /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

tr.odd {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

div.messages { /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0; /* Drupal core uses "6px 0" margin */
}
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

div.status { /* Normal priority messages */
}

div.warning,
tr.warning { /* Medium priority messages */
  /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error { /* High priority messages. See also the .error declaration below. */
}

.error { /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */ /* Drupal core uses a #e55 background */
}

.warning { /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */ /* Drupal core uses a #e09010 background */
}

.tabs { /* See also the tabs.css file. */
}

.region-help { /* Help text on a page */
}

.more-help-link { /* Link to more help */
}

.region-content { /* Wrapper for the actual page content */
    margin-left: 0px;
    
}

ul.inline { /* List of links generated by theme_links() */
  display: inline;
  padding: 0;
}
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 1em 0 0; /* LTR */
}

span.field-label { /* The inline field label used by the Fences module */
  padding: 0 1em 0 0; /* LTR */
}

.item-list .pager { /* A list of page numbers when more than 1 page of content is available */
  padding: 0;
}
.item-list .pager li { /* Each page number in the pager list */
  padding: 0 0.5em;
}

.feed-icon { /* The link to the RSS or Atom feed for the current list of content */
}

.more-link { /* Aggregator, blog, and forum more link */
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */

.region-sidebar-first {
}

/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */

.region-sidebar-second {
    background-color: #E8E7E6;
    width: 320px !important;
    float: right !important;
    margin: 0 !important;
}

/*
 * Footer
 */
 #content-footer{
     background: url(../images/footer_bg.png) repeat-x bottom;
     
 }
#footer {
    margin: 0 auto;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 11px;
    height: 700px;
    width: 980px;
}

/*
 * Page bottom
 */
 #content-bottom{
     background-color: #F5F4F2;
     height: 60px;
 }
.region-bottom { /* Wrapper for any blocks placed in the page bottom region */
    height: 60px;
     
     color: #999999;
     font-family: 'Open Sans', sans-serif;
     font-size: 11px;
     text-align: left;
     width: 980px;
}

.quienes-somos-izquierda{
     width: 436px;
     float: left;
     color: #433F44;
     font-family: 'Open Sans', sans-serif;
     font-size: 14px;
     text-align: left;
}

.quienes-somos-derecha{
    width: 160px;
    float: left;
    padding: 30px 0 0 25px;
}

.quienes-somos-ancho-completo{
    clear:both;
    color: #433F44;
     font-family: 'Open Sans', sans-serif;
     font-size: 14px;
     text-align: left;
    
}

#content{
    width: 100% !important;
    background-color: #fff;
}

.region-sidebar-second{
    
}

#page-title{
    font-family: 'Open Sans', sans-serif;
     font-size: 26px;
     color: #006CB2;
    width: 630px; 
    padding: 0 0 0 16px;
    text-transform: uppercase;
}

h2.titulo-sidebar-interno{
    font-weight: 300;
    color: #666666;
     font-family: 'Open Sans', sans-serif;
     font-size: 20px;
}

hr.lineafinal{
    border-color: #CCCCCC;;
    border-bottom: none;
}

hr.linea-sidebar{
    border-color: #CCCCCC;
    border-bottom: none;
}

.breadcrumb-0{
    background: url(../images/punta-bread-home.png) no-repeat scroll;
    padding-left: 6px;
    width: 40px;
    float: left;
    height: 24px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    margin-right: -3px;
}

.breadcrumb-1{
    background: url("../images/bg-bread-normal.png") repeat-x scroll 0 0 transparent;
    float: left;
    height: 24px;
    }

.breadcrumb-1 a, .breadcrumb-1 a:visited{
    color: #7FB239;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}

.breadcrumb-2{
    background: url("../images/bg-bread-normal.png") repeat-x scroll 0 0 transparent;
    float: left;
    height: 24px;
    }

.breadcrumb-2 a, .breadcrumb-2 a:visited{
    color: #7FB239;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}

.breadcrumb-3{
    background: url("../images/bg-bread-normal.png") repeat-x scroll 0 0 transparent;
    float: left;
    height: 24px;
    }

.breadcrumb-3 a, .breadcrumb-3 a:visited{
    color: #7FB239;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}

.breadcrumb-4{
    background: url("../images/bg-bread-normal.png") repeat-x scroll 0 0 transparent;
    float: left;
    height: 24px;
    }

.breadcrumb-4 a, .breadcrumb-4 a:visited{
    color: #7FB239;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}
.breadcrumb-active{
    color: #7FB239;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    text-decoration: none;
    background: url("../images/bg-bread-normal.png") repeat-x scroll 0 0 transparent;
    float: left;
    height: 24px;
     line-height: 28px;
    
}

.breadcrumb-active span{
padding-left: 10px;
    padding-right: 10px;
    line-height: 27px;
}
img.before-bread{
    float:left;
    margin-left: -8px;
}

img.after-bread{
    float:left;
    
}
#home-breadcrumb{

    
}
#home-breadcrumb-icon{
    
    
}

.page-node-28 div#content{
    padding-top: 22px;
    background-color: #F5F4F2;
}

.texto-contacto{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #666666;
    
}

div#subtitulo-contacto{
    width: 422px;
    float: right;
    margin-top: 10px;
}
.subtitulo-contacto{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    color: #006CB2;
    
}



#webform-component-nombre-obligatorio label, #webform-component-correo-electronico-obligatorio label, #webform-component-asunto label, #webform-component-mensaje label{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #666666;
    
    
}

#webform-component-nombre-obligatorio input, #webform-component-correo-electronico-obligatorio input, #webform-component-asunto input{
    width: 298px;  
}

#webform-component-mensaje textarea{
    width: 417px;
    
}

input#edit-webform-ajax-submit-28{
    float: right;
    width: 106px;
    height: 36px;
    background: #8FAC0D;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #fff;
    border: medium none;
}


#webform-ajax-wrapper-28{
    float: right;
    padding: 0 0 0 170px;
    width: 422px; 
       
}